TEX_CORE	BITMAP	DISCARDABLE	"textures\\core.bmp"
TEX_CHIP	BITMAP	DISCARDABLE	"textures\\chip.bmp"
TEX_WEIGHT	BITMAP	DISCARDABLE	"textures\\weight.bmp"
TEX_WHEEL	BITMAP	DISCARDABLE	"textures\\wheel.bmp"
TEX_RLW	BITMAP	DISCARDABLE	"textures\\rlw.bmp"
TEX_JET	BITMAP	DISCARDABLE	"textures\\jet.bmp"
TEX_BALL	BITMAP	DISCARDABLE	"textures\\ball.bmp"
TEX_RUDDER	BITMAP	DISCARDABLE	"textures\\rudder.bmp"
TEX_TRIM	BITMAP	DISCARDABLE	"textures\\trim.bmp"
TEX_ARM	BITMAP	DISCARDABLE	"textures\\arm.bmp"
TEX_COWL0	BITMAP	DISCARDABLE	"textures\\cowl0.bmp"
TEX_COWL2	BITMAP	DISCARDABLE	"textures\\cowl2.bmp"
TEX_COWL34	BITMAP	DISCARDABLE	"textures\\cowl34.bmp"
TEX_COWL5	BITMAP	DISCARDABLE	"textures\\cowl5.bmp"
